* {
    box-sizing: border-box;
  }
  
  #one {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: rgb(7, 0, 0);
    color: white;
  }
  three{
    position: sticky;
    display: inline-block;
    width: 100px;
    height: 100px;
    background: blue;
    color: white;
    top: 200px;
    left: 200px;
  }
  #two{
    position: sticky;
    width: 100px;
    height: 100px;
    background: blue;
    color: white;
  }
  
  #two {
    top: 100px;
    left: 100px;
    background: blue;
  }
  